body{
	background-color:#669900;font-family: Verdana, sans-serif;
	color: black;
}
html, body{
	height: 95%;
	margin: 0;
}
div{
	padding: 0px;
	margin: 0px;
}
* {
  box-sizing: border-box;
}
a, a:active, a:focus, a:visited{ outline: none;}
/* font-family: 'Alata', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Iceland', cursive;
font-family: 'Jockey One', sans-serif;
font-family: 'MuseoModerno', cursive; */

.shadowed {
	/*width: 180px;*/
	-webkit-filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.3));
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.3));
}	
.container{
	margin-left: 12.5%;
	margin-right: 12.5%;
	min-height: 100%;
	margin-bottom: -400px;
}
.col-0 {width: 0%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  /* padding: 0px; */
  /*border: 1px solid red;*/
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.menutop{
	margin-top: 100px;
	/* top:100px; */
	position:relative;
	margin-bottom: 120px;
}
html {
  font-family: "Lucida Sans", sans-serif;
}
.shadowmenu{
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}
.m-cornerleft{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.m-cornerright{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.menu{
	background-color: #77b300;
	height: 50px;
	top: 100px;
	font-family: 'Dosis', sans-serif;
}
.menu:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  z-index: -1;
  border-radius: 5px;
  }
.divisor_menu{
	border-left: 1px solid darkslategray;
	position: relative;
  }
.glow:hover{
	position: relative;
	box-shadow: 0px 7px 0px 0px rgb(137, 196, 0)inset;
	/* box-shadow: 0px -2px rgba(0,0,0,0.6); */
	text-shadow: 0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 1px black,0px 0px 5px rgba(0, 0, 0, 1);
	color: rgba(137, 196, 0, 0.987);
}
td.glow{
	-o-transition: all 0.10s ease-in;
	-moz-transition: all 0.10s ease-in;
	-webkit-transition: all 0.10s ease-in;
	transition: all 0.10s ease-in;
	color: rgba(0, 0, 0, 0.85);
}
.altura50px{
	height: 50px;
}
.altura100pc{
	height: 100%;
}
.alinhamento{
	text-align: center;
	vertical-align: middle;
	align-content: stretch;
	align-items: stretch;
}
.span_menu{
	position: relative;
	transform:translateY(50%);
	display: inline-table;
	white-space: pre-wrap;
	color: inherit;
}
/* .span_menu:hover{
	color:whitesmoke;
	
} */

.link-menu{
	display: block;
	text-decoration: none;
	top: 0;
	left: 0;
	margin: auto;
	height: 100%;
	-o-transition: 0.25s ease-out;
	-moz-transition: 0.25s ease-out;
	-webkit-transition: 0.25s ease-out;
	transition: 0.25s ease-out;
	color: inherit;
}

.content{
	position: relative;
	width: 97%;
	background-color: #77b300;
	/* top: 210px; */
	margin: auto;
	margin-bottom: 100px;
	border-radius: 6px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.6);
	/* background-image: url("/imagens/textura.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply; */
}
.content:before{
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("/imagens/logobackground.svg");
	background-size: 45%;
	opacity: 5%;
	background-position: -100px;
	mix-blend-mode: multiply;
	background-repeat: no-repeat;
	/* background-blend-mode: multiply; */
	border-radius: 6px;
	overflow: hidden;
}
.push{
	height: 400px;
}
.foot_footer{
	display: block;
	position: relative;
	margin-left: 12.5%;
	margin-right: 12.5%;
	height: 300px;
	/* background-color: #77b300; */
}

.foot_div{
	position: relative;
	margin: auto;
	background-color: #77b300;
	width: 97%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.6);
	padding: 20px 50px 20px 50px;
	display: flex;
	justify-content: space-between;
}
.foot_div a{
	font-family: 'Alata', sans-serif;
	font-weight: 600;
	/* font-family: 'Dosis', sans-serif; */
	/* font-family: 'Iceland', cursive; */
	/* font-family: 'Jockey One', sans-serif; */
	/* font-family: 'MuseoModerno', cursive; */
}
.imagem_footer{
	max-height: 200px;
	opacity: 85%;
}

.divider_ft{
	border-left: 1px solid darkslategray;
	margin: 65px;
}
#divider1{
	margin-left: 3%;
	margin-right: 2%;
}
#divider2{
	margin-left: 8%;
	margin-right: 2%;
}

.conteudo_ft{
	min-width: 160px;
	width: 160px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.conteudo_ft ul,li{
	width: 100%;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.conteudo_ft ul{
	position: relative;
	height: 85%;
	flex-flow: column wrap;
	justify-content: space-evenly;
}
.conteudo_ft li{
	flex-flow: row wrap;
	align-items: center;
	
}
.conteudo_ft a{
	text-decoration: none;
	color: rgb(35,35,35);
	margin: 2px 0px 2px 0px;
	padding: 8px 1.25em 10px 1.25em;
	padding-bottom: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0);
	-o-transition: 0.20s cubic-bezier(.7,0,.3,1);
	-moz-transition: 0.20s cubic-bezier(.7,0,.3,1);
	-webkit-transition: 0.20s cubic-bezier(.7,0,.3,1);
	transition: 0.20s cubic-bezier(.7,0,.3,1);
}
.twitter:hover{
	color: royalblue;
}
.twitch:hover{
	color:rebeccapurple;
}
.instagram:hover{
	color: #f56040 ;
}
.conteudo_ft a:hover{
	box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	border-radius: 100vh;
	background-color: whitesmoke;
}
.conteudo_ft i{
	padding-right: 10px;
	padding-top: 4px;
}
#ecodiagnosticadiv{
		margin-left: 50px;
		margin-right: 50px;
		width: 30%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: auto;
}
#ecodiagnostica{
	opacity: 100%;
	/* max-width: 100%; */
	width: 100%;
	-webkit-filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.6));
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.6));
	-o-transition: 0.25s cubic-bezier(.7,0,.3,1);
	-moz-transition: 0.25s cubic-bezier(.7,0,.3,1);
	-webkit-transition: 0.25s cubic-bezier(.7,0,.3,1);
	transition: 0.25s cubic-bezier(.7,0,.3,1);
	filter: brightness(1) drop-shadow(0px 1px 4px rgba(0,0,0,0.4));
}
#ecodiagnosticadiv > a{
	width: 70%;
}
#ecodiagnostica:hover{
	filter: brightness(0.9) drop-shadow(0px 1px 0px rgba(0,0,0,0.4));
	opacity: 80%;
}

