

/* *️⃣ ESTLILIZAÇÃO RESET GERAL *️⃣ */
body{
	background-color:#669900;
}
html, body{
	scrollbar-color: rgba(126, 252, 0, 0.4) rgba(47, 79, 79, 0.15);
	scrollbar-width: thin;
	height: 95%;
	margin: 0;
}
div{
	padding: 0px;
	margin: 0px;
}
* {
  box-sizing: border-box;
}
.row::after {
	content: "";
	clear: both;
	display: table;
  }
a{
	text-decoration: none;
	color: #294444;
}
/*//////////////////////////*/


/* *️⃣ ESTILIZAÇÃO SCROLLBAR PARA CHROME(BLINK) *️⃣ */
 /* width */
 ::-webkit-scrollbar {
	position: fixed;
	scroll-behavior: smooth;
	width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
	border-radius: 9999px;
}
::-webkit-scrollbar-track:hover {
	border-radius: 9999px;
	background-color: darkslategrey;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background-color: rgba(126, 252, 0, 0.22);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(126, 252, 0, 0.40);
}
/*//////////////////////////*/


/* *️⃣ ESTLILIZAÇÃO QUANDO SELECIONAR TEXTO, ETC *️⃣ */
*::selection{
	color: yellowgreen;
	background-color: rgba(47, 79, 79, 1);
}
/*//////////////////////////*/


a, a:active, a:focus, a:visited{ outline: none;}

:focus-visible{
	outline: 4px solid rgba(126, 252, 0, 0.4) !important;
	outline-offset: 3px !important;
}

/* font-family: 'Alata', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Iceland', cursive;
font-family: 'Jockey One', sans-serif;
font-family: 'MuseoModerno', cursive; */

.shadowed {
	/*width: 180px;*/
	-webkit-filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.3));
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.3));
}
.container{
	margin-left: 12.5%;
	margin-right: 12.5%;
	min-height: 100%;
	margin-bottom: -400px;
}
.col-0 {width: 0%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  /* padding: 0px; */
  /*border: 1px solid red;*/
}
.menutop{
	height: max-content;
	margin-top: 140px;
	height: 50px;
	/* top:100px; */
	position:relative;
	margin-bottom: 140px;
}
.menutop:after{
	margin: -1px;
	box-sizing: content-box;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	border: 1px solid #0f16008c;
	box-shadow: 0px 2px 1px #2944445f, 0px 2px 10px rgba(0,0,0,0.45);
	z-index: -1;
	border-radius: 5px;
}

.shadowmenu{
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.menu2{
	align-items: center;
	justify-items: center;
	align-content: center;
	justify-content: center;
}
.logo-main{
	position: relative;
	left: 0;
	width: 65%;
	overflow: visible;
	/* transform: translateZ(0); */
	/* -webkit-backface-visibility: hidden; */
	/* -ms-transform: translateZ(0); */
	/* -webkit-transform: translateZ(0); */
}

.m-cornerleft{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.m-cornerright{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.menu{
	position: relative;
	background-color: #77b300;
	height: 50px;
	/* top: 100px; */
	font-family: 'Dosis', sans-serif;
	display: flex;
	flex-flow: row nowrap;
}
.menu ul,.menu li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu ul{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}
.menu li{
width: 25%;
border-left: 1px solid #0000009a;
}
.link-menu{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	text-decoration: none;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	color: inherit;
}
.span_menu{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-items: center;
	align-content: center;
	justify-content: center;
	/* white-space: pre-wrap; */
	color: inherit;
}
.span_menu i{
	--PaddingFa: 6px;
	padding-left: 0;
	padding-right: var(--PaddingFa);
}

.divisor_menu{
	border-left: 1px solid darkslategray;
	position: relative;
}
a.glow{
	transition: all 25ms linear;
	position: relative;
	z-index: 2;
	color: rgba(0, 0, 0, 0.85);
}
a.glow:hover{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	color: rgb(20, 73, 73);
}
a.glow:after{
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 50ms ease-in-out;
	border-bottom: 30px solid transparent;
	position: absolute;
	z-index: -1;
	/* box-shadow: 0px 50px 0px 0px transparent inset; */
}
a.glow:hover:after{
	border-bottom: 44px solid #EBF2FA;
	/* box-shadow: 0px 7px 0px 0px #89c400 inset; */
}
a.glow2{
	transition: all 25ms linear;
	position: relative;
	z-index: 2;
	color: rgba(0, 0, 0, 0.85);
}
a.glow2:hover{
	/* color: rgb(50, 50, 50); */
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	color: rgb(20, 73, 73);
}
a.glow2:hover:after{
	/* background-color: ghostwhite; */
	/* border-bottom: 42px solidr gb(137, 196, 0); */
	border-bottom: 44px solid #EBF2FA;
	border-radius: 0px 5px 5px 0px;
}
a.glow2:after{
	position: absolute;
	z-index: -1;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	border-bottom: 30px solid transparent;
	border-radius: 0px 5px 5px 0px;
	transition: all 50ms ease-in-out;
}
.altura50px{
	height: 50px;
}
.altura100pc{
	height: 100%;
}
.alinhamento{
	text-align: center;
	vertical-align: middle;
	align-content: stretch;
	align-items: stretch;
}

/* .span_menu:hover{
	color:whitesmoke;

} */


.content{
	position: relative;
	width: 97%;
	background-color: #77b300;
	/* top: 210px; */
	margin: auto;
	margin-bottom: 100px;
	border-radius: 6px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.6);
	-moz-user-select: all;
	-khtml-user-select: all;
	-webkit-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
.content:before{
	z-index: 0;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* padding-right: 40%; */
	/* margin-top: -25%; */
	/* width: 100%; */
	/* height: 100%; */
	position: absolute;
	background-image: url("../imagens/logobackground.svg");
	background-attachment: local;
	background-size: cover;
	background-position-x: center;
	opacity: 3.75%;
	mix-blend-mode: multiply;
	background-repeat: no-repeat;
	/* background-blend-mode: multiply; */
	border-radius: 6px;
	overflow: hidden;
}
.push{
	height: 400px;
}

/* 🔽 INICIO REGRAS FOOT 🔽 */

.foot_footer{
	display: block;
	position: relative;
	margin-left: 12.5%;
	margin-right: 12.5%;
	height: 300px;
	/* background-color: #77b300; */
}

.foot_div{
	position: relative;
	margin: auto;
	background-color: #77b300;
	width: 97%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.6);
	padding: 10px 50px;
	display: flex;
	justify-content: space-between;
}
.foot_div a{
	font-family: 'Alata', sans-serif;
	font-weight: 600;
	/* font-family: 'Dosis', sans-serif; */
	/* font-family: 'Iceland', cursive; */
	/* font-family: 'Jockey One', sans-serif; */
	/* font-family: 'MuseoModerno', cursive; */
}
.imagem_footer{
	max-height: 200px;
	opacity: 85%;
}

.divider_ft{
	border-left: 1px solid darkslategray;
	margin: 65px;
}
#divider1{
	margin-left: 3%;
	margin-right: 2%;
}
#divider2{
	margin-left: 8%;
	margin-right: 2%;
}
#divider3{
	display: none;
}

.conteudo_ft{
	min-width: 160px;
	width: 160px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.conteudo_ft ul,.conteudo_ft li{
	width: 100%;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.conteudo_ft ul{
	position: relative;
	height: 85%;
	flex-flow: column wrap;
	justify-content: space-evenly;
}
.conteudo_ft li{
	flex-flow: row wrap;
	align-items: center;

}
.conteudo_ft a{
	text-decoration: none;
	color: rgb(25, 25, 25);
	margin: 2px 0px 2px 0px;
	padding: 8px 1em 10px 1em;
	padding-bottom: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0);
	transition: 0.20s cubic-bezier(.7,0,.3,1);
}
.twitter:hover{
	color: steelblue;
}
.twitch:hover{
	color: rgb(94, 0, 141);
}
.instagram:hover{
	color: #f56040 ;
}
.conteudo_ft a:hover{
	box-shadow: 2px 2px 6px rgba(0,0,0,0.35);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.35);
	border-radius: 100vh;
	background-color: whitesmoke;
}
.conteudo_ft i{
	padding-right: 10px;
	padding-top: 4px;
}
#hover-footer-color>li>a:hover{
	color: rgb(20, 73, 73);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.35);
}
#ecodiagnosticadiv{
		margin-left: 50px;
		margin-right: 50px;
		width: 30%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: auto;
}
#ecodiagnostica{
	opacity: 100%;
	/* max-width: 100%; */
	width: 100%;
	-webkit-filter: drop-shadow(0px 1px 3px rgba(0,0,0,0.3));
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.6));
	transition: 0.25s cubic-bezier(.7,0,.3,1);
	filter: brightness(1) drop-shadow(0px 1px 3px rgba(0,0,0,0.3));
}
#ecodiagnosticadiv > a{
	width: 70%;
}
#ecodiagnostica:hover{
	filter: brightness(0.9) drop-shadow(0px 1px 0px rgba(0,0,0,0.4));
	opacity: 80%;
}

/* 🔽 FIM REGRAS FOOT 🔽 */

.conteudo-corpo{
	display: flex;
	flex-flow: column nowrap;
	padding: 65px 60px 80px 60px;
	font-family: 'Alata', sans-serif;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	position: relative;
}
.conteudo-corpo p{
	text-indent: 1em;
	padding: 2px 120px 2px 120px;
	color: rgb(25, 25, 25);
	/* text-shadow: 1px 1px 2px rgba(0,0,0,.35); */ /* indeciso entre usar text shadow ou não */
}
.titulo{
	align-self: center;
	justify-self: center;
	width: 75%;
	border-bottom: 1px solid rgba(30,30,30,0.15);
}
.titulo h1{
	font-size: 2rem;
	padding: 0;
	padding-left: 0;
	margin: 0;
	margin-left: -8%;
	padding-bottom: 50px;
	color: rgb(15, 15, 15);
}
.titulo h1 img{
	height: 1.75em;
	vertical-align: middle;
	padding-bottom: 10px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;

}
.titulo	+ p{
	padding-top: 30px;
}

.divisor-apr-lista{
	display: flex;
	align-self: center;
	margin-top: 30px;
	width: 75%;
	border-bottom: 1px solid rgba(30,30,30,0.15);
}

#logolineup{
	filter: saturate(1.2) contrast(1.1);
	opacity: 92%;
	border: 1px solid rgba(240, 248, 255, 0.5);
	position: relative;
	width: 81%;
	margin: 30px auto 50px auto;
	display: flex;
	align-self: center;
	border-radius: 1px;
}
.header-time{
	--PlayerTransTime: 500ms;
	transition: all var(--PlayerTransTime);
	margin-top: 50px;
	position: relative;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	align-self: center;
	justify-content: center;
	width: 80%;
	height: 420px;
	overflow: hidden;
}
.header-time a,p,img{
	-webkit-transition: all var(--PlayerTransTime);
	transition: all var(--PlayerTransTime);
}

.header-time-a{
	margin-left: -70px;  /* MARGEM DE TRANSPOSICAO DAS IMAGENS */
	position: relative;
}
.marginleft-0px{
	margin-left: 0px;
}
.player-name{
	padding: 0px 0px 0px 0px !important;
	margin-bottom: 10px !important;
	position: relative;
	top: 4px;
	text-align: center;
	transition: all var(--PlayerTransTime);
	text-indent: 0px !important;
	--Font-size-playername: 1.25em;
	font-size: var(--Font-size-playername);
	-webkit-text-stroke: 0px transparent;
}
.header-time p,a{
	box-sizing: content-box;
}
.header-time-a:hover .player-name {
	transition: all var(--PlayerTransTime);
	font-size: calc(var(--Font-size-playername) + 0.15em);
	color: rgb(20, 73, 73);
	text-shadow: 1px 1px 1px rgba(64, 224, 208, 0.508), 0px 0px 10px rgba(0,0,0,0.6);
	-webkit-font-smoothing: subpixel-antialiased;
	font-smooth: subpixel-antialiased;
	top: 0px;
}
.header-time-a:hover img {
	transition: all var(--PlayerTransTime) !important;
	top: 0px;
}
.header-time-a:hover {
	z-index: 4 !important;
}
.header-time-a img{
	transition: all var(--PlayerTransTime);
	position: relative;
	height: auto;
	max-height: 400px;
	max-width: 100%;
	vertical-align: middle;
	top: 10px;
	/* left: 0; */
}
#kncerato-a{
	z-index: 1;
}
#freq-a{
	z-index: 2;
}
#chay-a{
	z-index: 3;
}
#turnay-a{
	z-index: 2;
}
#gyzer-a{
	z-index: 1;
}
#blv-a{
	z-index: 0;
}

.fotos{
	transition: all var(--PlayerTransTime);
	/* width: 100%; */
}
.borda-players{
	/* background-color: rgba(50,50,50,0.25); */
	display: flex;
	flex-flow: column nowrap;
	align-self: flex-start;
	border-top: 2px solid rgba(41, 68, 68, 0.8);
	width: 90%;
	height: max-content;
	/* border-radius: 10px; */
	/* box-shadow: 0px 0px 10px rgba(0,0,0,0.6); */
}
.fadeout img{
	filter: grayscale() brightness(0.8) opacity(0.92);
	transition: all var(--PlayerTransTime);
}
.borda-players .card-player:first-child{
	margin-top: 100px;

}
.borda-players .card-player:last-child{
	margin-bottom: 0px;

}
.card-player{
	height: max-content;
	/* margin-left: 50px; */
	display: flex;
	justify-content: flex-start;
	margin-bottom: 75px;
	width: 100%;
	align-self: center;
	align-items: center;
}
.div-foto-player{
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: rgba(47, 79, 79, 0.85); */
	background: rgb(51,83,48);
	background: linear-gradient(180deg, rgba(51,83,48,1) 0%, rgba(41,68,64,1) 100%);
	border-radius: 9999px;
	border: 4px solid rgba(41, 68, 68, 1);
	overflow: hidden;
	margin-left: 5vw;
	width: 16vw;
	height: 16vw;
	flex-shrink: 0;
}
.foto-player{
	position: relative;
	bottom: -10px;
	width: auto;
	height: 100%;
}
.card-labels{
	position: relative;
	font-size: 1.5em;
	padding-left: 6vw;
	/* align-self: center; */
	align-content: stretch;
	justify-content: center;
	display: flex;
	flex-flow: column nowrap;
}
.label-span-1{
	position: relative;
	z-index: 3;
	color: rgba(126, 252, 0, 0.7);
	background-color: rgba(41, 68, 68, 1);
	border-radius: 9999px;
	margin: 6px 0px 6px 0px;
	padding: 5px 20px 5px 0px;
	width: max-content;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	/* padding: 0px 15px 4px 15px; */
}
/* .card-player *{
	transition: all 300ms ease-in;
} */
.label-span-1 > span:first-child {
	color: rgb(20, 73, 73);
	text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	/* border: 2px solid rgba(255, 255, 255, 1); */
	background-color: mintcream;
	border-radius: 9999px;
	width: min-content;
	padding: 5px 18px 5px 18px;
	margin-right: 10px;
}
.label-span-1 a{
	display: inline-flex;
	align-items: center;
	justify-items: center;
	align-content: center;
	justify-content: center;
	vertical-align: middle;
	position: relative;
	color: rgba(41, 68, 68, 1);
	height: 1.2rem;
	width: 1.2rem;
	margin-left: 6px;
	margin-right: 6px;
	top: 1px;
}
.label-span-1 a:after{
	transition: all 100ms ease-in;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: -6px;
	border-radius: 9999px;
	background-color: #77b300;
}
.label-span-1 a:hover{
	color: rgb(3, 33, 5);
}
.label-span-1 a:hover:after{
	margin: -0.5rem;
	color: rgb(3, 33, 5);
}
.label-span-1 i{
	z-index: 1;
	position: relative;
	/* top: -3px; */
}

.last-social-label{
	display: flex;
	padding: 0;
	padding-right: 20px;
}
.lista-servers{
	display: flex;
	flex-flow: row nowrap;
	/* align-content: center; */
	justify-content: center;
	margin: 50px 0px 0px 0px;
}
.iframe-serv{
	margin-left: 25px;
	margin-right: 25px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4), 0px 0px 25px rgba(0, 0, 0, 0.6);
}
:root{
	--CorDiscordFaded: #dcddde;
	--CorDiscordHover: #7289da;
}
.discord-server{
	position: relative;
	margin-top: 50px;
	display: flex;
	align-self: center;
	width: 150px;
	height: 35px;
	background-color: #23272a;
	border-radius: 5px;
	border: 1px solid rgba(220, 221, 222, 0.3);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
	user-select: all;
}
.discord-server i{
	margin-left: 8px;
	/* margin-right: 8px; */
	align-self: center;
	justify-content: center;
	display: flex;
	color: var(--CorDiscordFaded);
	pointer-events: none;
	transition: color 100ms ease;
}
.discord-server:hover i{
	color: var(--CorDiscordHover);
}
.discord-server:hover{
	cursor: grab;
}
.discord-server:active{
	cursor: grabbing;
}
.discord-span{
	display: inline-flex;
	align-content: center;
	align-self: center;
	justify-self: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 24px;
	line-height: calc(12px + 0.5em);
	color: #dcddde;
	border: 1px solid rgba(220, 221, 222, 0.2);
	border-radius: 4px;
}
.discord-span::selection{
	background-color:hsla(210, 3%, 87%, 0.8);
	color: #7289da;
}
.div-vipform{
	position: relative;
	display: flex;
	align-self: center;
	margin: 25px;
}
.iframe-vipform{
	height: 66vh;
	width: 40vw;
}
.iframe-twitch{
	height: calc(60vw * 0.5625);
	width: 60vw;
	border-radius: 10px;
	border-style: none;
	position: relative;
	margin: 60px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 1){
	:root{
		font-size: 50%;
	}
	body{
		font-size: 150%;
	}
	.container{
		position: relative;
		margin-left: 2%;
		margin-right: 2%;
	}
	.menutop{
		width: 98%;
		left: 1%;
		margin: 50px 0px 50px 0px;
		height: calc(50px * 4);
	}
	.menu2{
		display: none;
	}
	.menu{
		flex-flow: column wrap;
		width: 100%;
		border-radius: 5px;
		font-size: 1.6rem;
		height: calc(50px * 4);
		border: 1px solid rgba(0,0,0,0.3);
		box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	}
	.menu ul{
		flex-flow: column nowrap;
		flex: 1 1 100%;
		height: calc(50px * 4);
	}
	.menu li{
		flex: 1 1 100%;
		width: auto;
		height: 50px;
		border:none;
		border-bottom: 1px solid rgba(41, 68, 68, 0.3);
	}
	.menu li:last-child{
		border: none;
	}
	.menutop::after{
		display: none;
	}
	#botao-4.glow2:hover:after{
		border-radius: 0px 0px 5px 5px;
	}
	.conteudo-corpo{
		padding: 1em 1em 2em 1em;
	}
	.push{
		height: 350px;
	}
	.foot_footer{
		margin-left: 2%;
		margin-right: 2%;
		height: max-content;
		margin-bottom: 100px !important;
	}
	.foot_div{
		padding: 15px;
		flex-flow: column nowrap;
		align-items: center;
	}
	.conteudo_ft{
		width: 100%;
		justify-self: center;
		align-items: center;

	}
	.conteudo_ft:first-child{
		margin-bottom: 25px;
	}
	.conteudo_ft a{
		position: relative;
		left: 35%;
	}
	.conteudo_ft{
		font-size: 1.6rem;
	}
	.divider_ft{
		border-left: none;
		border-bottom: 1px solid darkslategray;
	}
	#divider1{
		margin: 0;
		margin: 2% 10% 2% 10%;
		width: 10%;
	}
	#divider2{
		margin: 0;
		margin: 2% 10% 2% 10%;
		width: 10%;
	}
	#divider3{
		display: block;
		margin: 0;
		margin: 2% 10% 2% 10%;
		width: 10%;
	}
	.div-img-footer{
		transform: scale(0.75);
		margin-bottom: 0 !important;
	}
	#ecodiagnosticadiv{
		margin-top: 20px;
		width: 100%;
		align-items: center;
	}
	#ecodiagnosticadiv a{
		width: 55%;
	}
	::-webkit-scrollbar {
		position: initial;
		scroll-behavior: initial;
		width: initial;
	}
	/* Track */
	::-webkit-scrollbar-track {
		border-radius: initial;
	}
	::-webkit-scrollbar-track:hover {
		border-radius:initial;
		background-color: initial;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
		background-color: initial;
		border: initial;
		border-radius: initial;
	}
	::-webkit-scrollbar-thumb:hover{
		background-color: initial;
	}
	html, body{
		scrollbar-color: initial;
		scrollbar-width: initial;
	}

	/* /////////////////////// */
	/* ////// time.html ////// */
	/* /////////////////////// */

	.header-time{
		display: none;
	}
	.borda-players{
		border: none;
	}
	.div-foto-player{
		margin-left: 0;
	}
	.card-labels{
		font-size: 1rem;
	}
	.div-foto-player{
		width: 35vw;
		height: 35vw;
	}
	.last-social-label{
		padding-right: 10px;
	}
	.label-span-1 span a{
		height: 0.5em;
		width: 0.5em;
		align-self: center;
		justify-self: center;
		margin-left: 8px;
		margin-right: 8px;
		top: 0;
	}
	.label-span-1 a:hover::after{
		margin: -0.42rem;
	}
	.span-label-socials{
		display: flex;
	}
	.span-label-socials i{
		font-size: 1.2em;
	}

	/* ////////////////////////////////// */
	/* //////////// vip.html //////////// */
	/* ////////////////////////////////// */

	.div-vipform{
		margin-left: 0;
		margin-right: 0;
	}
	.div-vipform iframe{
		width: 100vw;
	}
	.discord-server{
		font-size: 2rem;
	}

	/* ///////////////////////////////// */
	/* //////// servidores.html //////// */
	/* ///////////////////////////////// */
	.lista-servers{
		flex-flow: column nowrap;
		align-items: center;
	}
	.iframe-serv{
		margin: 15px auto !important;
	}

	/* ////////////////////////////////// */
	/* /////////// index.html /////////// */
	/* ////////////////////////////////// */

	h1{
		font-size: 3rem !important;
	}
	p{
		font-size: 1.5rem;
		padding: 1em 0em !important;
	}
	#logolineup{
		margin: 0;
		width: 100%;
	}

	/* ///////////////////////////////// */
	/* ////////// twitch.html ////////// */
	/* ///////////////////////////////// */

	.iframe-twitch{
		height: calc(80vw * 0.5625);
		width: 80vw;
	}
}